<div id="page_wrapper">
	<p class="text-center"><strong>AmsterBam</strong></p>

	<div id="profile_image">		
		
	</div>
<img src="http://i.telegraph.co.uk/multimedia/archive/02089/underwear_2089018i.jpg" class="img-circle">
	<div id="content">
		<p class="text-center"><strong>Fuck yo' Couch</strong></p>
		
		<a href="#" data-toggle="popover" title="Open is you are a mudderscunt" data-content="Syou were whether you clicked or not">I love to Cha Cha</a>

		<p>

			Brothers tried and others died to get the formula
			But I'mma let you sweat, you still ain't formed, you a
			Step away from frozen, stiff as if you're posing
			Dig into my brain as the rhyme gets chosen
			Sobamtype follow me and while you're thinking you were first
			Let's travel at magnificent speeds around the universe
			What could you say as the earth gets further and further away
			Planets as small as balls of clay
			Astray into the milky way, worlds out of sight
			Far as the eye can see not even a satellite
			Now stop and turn around and look
			As you stare in the darkness, your knowledge is took
			So keep staring, soon you suddenly see a star
			You better follow it, cause it's the R
			This is a lesson if you're guessing and if you're borrowing
			Hurry hurry step right up and keep following the leader

		</p>
		<p>
			If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/bloomfieldbam">@bamtype@gmail.com
		</p>
	</div>
</div>
